n8n-workflow-pedido.json
{
  "name": "Analise de Pedido com IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analise-pedido",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-1",
      "name": "Webhook Pedido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "val-cliente",
              "leftValue": "={{ ($json.body?.cliente || $json.cliente || '') }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            },
            {
              "id": "val-id",
              "leftValue": "={{ ($json.body?.id || $json.id || 0) }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-1",
      "name": "Validar Dados",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pedido = data.body || data;\n\nconst cliente = pedido.cliente || '';\nconst cidade = pedido.cidade || '';\nconst valorTotal = Number(pedido.valorTotal) || 0;\nconst produtos = Array.isArray(pedido.produtos) ? pedido.produtos.join(', ') : '';\nconst pedidoId = pedido.id || 0;\n\nconst prompt = 'Consultor de vendas. Analise: Cliente=' + cliente + ', Cidade=' + cidade + ', Valor=R$' + valorTotal + ', Produtos=' + produtos + '. Regras: >2000=Premium cupom PREMIUM15, >1000=Gold cupom GOLD10, <=1000=Essencial cupom ESSENTIAL5. Retorne JSON: {\"perfilCliente\":\"...\",\"produtosRecomendados\":\"...\",\"mensagemPersonalizada\":\"... com cupom\"}';\n\nreturn [{ json: { prompt: prompt, pedidoId: pedidoId } }];"
      },
      "id": "code-0",
      "name": "Montar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [670, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-or-v1-SUA_KEY_AQUI"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            },
            {
              "name": "X-Title",
              "value": "Loja Virtual"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'google/gemma-2-9b-it:free', messages: [{ role: 'system', content: 'Voce e um consultor de vendas. Responda APENAS com JSON valido.' }, { role: 'user', content: $json.prompt }], temperature: 0.7, max_tokens: 512 }) }}",
        "options": {
          "timeout": 30000
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 50000
      },
      "id": "openrouter-1",
      "name": "OpenRouter IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-choices",
              "leftValue": "={{ $json.choices ? $json.choices.length : 0 }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-2",
      "name": "Resposta Validada",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nconst response = JSON.parse(cleaned);\n\nconst pedidoId = $('Montar Prompt').first().json.pedidoId;\n\nreturn [{\n  json: {\n    id: pedidoId,\n    perfilCliente: response.perfilCliente || 'Cliente Essencial',\n    recomendacoes: response.produtosRecomendados || '',\n    cupomDesconto: (response.mensagemPersonalizada || '').match(/cupom[:\\s]+(\\w+)/i)?.[1] || 'PROMO10',\n    mensagemIA: response.mensagemPersonalizada || ''\n  }\n}];"
      },
      "id": "code-1",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://localhost:8080/pedidos/{{ $json.id }}/analise",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ perfilCliente: $json.perfilCliente, recomendacoes: $json.recomendacoes, cupomDesconto: $json.cupomDesconto, mensagemIA: $json.mensagemIA }) }}",
        "options": {}
      },
      "id": "http-1",
      "name": "Enviar para Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1590, 300]
    }
  ],
  "connections": {
    "Webhook Pedido": {
      "main": [
        [{ "node": "Validar Dados", "type": "main", "index": 0 }]
      ]
    },
    "Validar Dados": {
      "main": [
        [{ "node": "Montar Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Montar Prompt": {
      "main": [
        [{ "node": "OpenRouter IA", "type": "main", "index": 0 }]
      ]
    },
    "OpenRouter IA": {
      "main": [
        [{ "node": "Resposta Validada", "type": "main", "index": 0 }]
      ]
    },
    "Resposta Validada": {
      "main": [
        [{ "node": "Formatar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [{ "node": "Enviar para Backend", "type": "main", "index": 0 }]
      ]
    }
  }
}
