n8n-workflow-pedido.json
{
  "name": "Analise de Pedido com IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido-analise",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-1",
      "name": "Webhook Pedido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    contents: [{\n      parts: [{\n        text: \"Voce e um consultor de vendas de uma loja virtual de tecnologia.\\n\\nAnalise o pedido recebido:\\n- Cliente: {{ $json.cliente }}\\n- Cidade: {{ $json.cidade }}\\n- Valor Total: R$ {{ $json.valorTotal }}\\n- Produtos: {{ JSON.stringify($json.produtos) }}\\n\\nRetorne OBRIGATORIAMENTE um JSON valido com as chaves:\\n{\\n  \\\"perfilCliente\\\": \\\"Classificacao baseada no valor (ex: Cliente Premium, Cliente Gold, Cliente Essencial)\\\",\\n  \\\"produtosRecomendados\\\": \\\"Lista de produtos complementares separados por virgula\\\",\\n  \\\"mensagemPersonalizada\\\": \\\"Mensagem amigavel com recompensa (cupom de desconto)\\\"\\n}\\n\\nRegras:\\n- Se valorTotal > 2000: perfil = Cliente Premium, cupom = PREMIUM15 (15%)\\n- Se valorTotal > 1000: perfil = Cliente Gold, cupom = GOLD10 (10%)\\n- Se valorTotal <= 1000: perfil = Cliente Essencial, cupom = ESSENTIAL5 (5%)\\n- Recomende produtos complementares aos adquiridos\\n- A mensagem deve ser amigavel e motivar nova compra\\n- Retorne APENAS o JSON, sem texto adicional\"\n      }]\n    }],\n    generationConfig: {\n      temperature: 0.7,\n      maxOutputTokens: 1024\n    }\n  })\n}}"
      },
      "id": "gemini-1",
      "name": "Gemini IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURAR_COM_SUA_CREDENCIAL",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.candidates[0].content.parts[0].text.replace('```json', '').replace('```', '').trim());\n\nreturn [{\n  json: {\n    perfilCliente: response.perfilCliente,\n    recomendacoes: response.produtosRecomendados,\n    cupomDesconto: response.mensagemPersonalizada.match(/cupom[:\\s]+(\\w+)/i)?.[1] || 'PROMO10',\n    mensagemIA: response.mensagemPersonalizada\n  }\n}];"
      },
      "id": "code-1",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://SEU_NGROK_URL/pedidos/{{ $('Webhook Pedido').first().json.id }}/analise",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-1",
      "name": "Enviar para Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Pedido": {
      "main": [
        [{ "node": "Gemini IA", "type": "main", "index": 0 }]
      ]
    },
    "Gemini IA": {
      "main": [
        [{ "node": "Formatar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [{ "node": "Enviar para Backend", "type": "main", "index": 0 }]
      ]
    }
  }
}
