backend/n8n-workflow-pedido.json
{
  "name": "Analise de Pedido com IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido-analise",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "pedido-analise"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst p = raw.body || raw;\n\nconst cliente = p.cliente || '';\nconst cidade = p.cidade || '';\nconst valor = Number(p.valorTotal) || 0;\nconst prod = Array.isArray(p.produtos) ? p.produtos.join(', ') : '';\nconst pid = p.id || 0;\n\nlet regra = 'Se valor > 2000: perfil Cliente Premium, cupom PREMIUM15 (15%)';\nregra += ', se > 1000: Cliente Gold, cupom GOLD10 (10%)';\nregra += ', se <= 1000: Cliente Essencial, cupom ESSENTIAL5 (5%)';\n\nvar prompt = 'Consultor de vendas loja de tecnologia. ';\nprompt += 'Pedido: Cliente ' + cliente + ', cidade ' + cidade + ', valor R$ ' + valor + ', produtos: ' + prod + '. ';\nprompt += regra + '. ';\nprompt += 'Retorne SOMENTE este JSON com strings (nao arrays/objetos): ';\nprompt += '{\"perfilCliente\":\"texto classificacao\",';\nprompt += '\"produtosRecomendados\":\"produto1, produto2, produto3\",';\nprompt += '\"mensagemPersonalizada\":\"mensagem com cupom\"}';\n\nreturn [{ json: { prompt: prompt, pedidoId: pid } }];"
      },
      "id": "code-0",
      "name": "Montar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            },
            {
              "name": "X-Title",
              "value": "Loja Virtual"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nvidia/nemotron-nano-9b-v2:free', messages: [{ role: 'system', content: 'Consultor de vendas. Responda APENAS com JSON valido, sem markdown, sem blocos de codigo.' }, { role: 'user', content: $json.prompt }], temperature: 0.7, max_tokens: 4096 }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-1",
      "name": "Chamar IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n\nif (!r.choices || !r.choices.length || !r.choices[0].message) {\n  throw new Error('Resposta IA vazia: ' + JSON.stringify(r).substring(0, 200));\n}\n\nvar raw = r.choices[0].message.content || '';\nif (!raw && r.choices[0].message.reasoning) {\n  raw = r.choices[0].message.reasoning;\n}\n\nraw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n\nvar response;\ntry {\n  response = JSON.parse(raw);\n} catch (e) {\n  var m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) { response = JSON.parse(m[0]); }\n  else { throw new Error('Nao conseguiu parsear JSON: ' + raw.substring(0, 200)); }\n}\n\nvar pid = $('Montar Prompt').first().json.pedidoId;\n\nvar perfil = response.perfilCliente || 'Cliente Essencial';\nif (typeof perfil === 'object') {\n  perfil = 'Cliente ' + (perfil.nome || 'Essencial') + ' de ' + (perfil.cidade || '');\n}\n\nvar rec = response.produtosRecomendados || 'Acessorios de tecnologia';\nif (Array.isArray(rec)) { rec = rec.join(', '); }\n\nvar msg = response.mensagemPersonalizada || 'Obrigado pela compra!';\nvar cupomMatch = msg.match(/cupom[:\\s]+(\\w+)/i);\nvar cupom = cupomMatch ? cupomMatch[1] : 'PROMO10';\n\nreturn [{\n  json: {\n    id: pid,\n    perfilCliente: String(perfil),\n    recomendacoes: String(rec),\n    cupomDesconto: cupom,\n    mensagemIA: String(msg)\n  }\n}];"
      },
      "id": "code-1",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://localhost:8080/pedidos/{{ $json.id }}/analise",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ perfilCliente: $json.perfilCliente, recomendacoes: $json.recomendacoes, cupomDesconto: $json.cupomDesconto, mensagemIA: $json.mensagemIA }) }}",
        "options": {}
      },
      "id": "http-2",
      "name": "Enviar Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Montar Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Montar Prompt": {
      "main": [
        [{ "node": "Chamar IA", "type": "main", "index": 0 }]
      ]
    },
    "Chamar IA": {
      "main": [
        [{ "node": "Formatar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [{ "node": "Enviar Backend", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
